*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #252525;
    color: floralwhite;
   
}
a:link{
    color: orange;
}
a:visited{
    color: red;
}


.text::first-line{
    color: rgb(145, 58, 145);
    background-color:lightblue ;
    font-size: 18px;
}

.text::first-letter{
    color: rgb(255, 162, 0);
    /* background-color: black; */
    font-size: 40px;
}

::selection{
    background-color: yellow;
}

.hover:hover{
    color: cornsilk;
    background-color: rgba(74, 90, 240, 0.816);
    font-size: 20px;
    border-radius: 13px;
}

::marker{
    color: chocolate;
    /* background-color: aqua; */
}

li:nth-child(odd){
    color: rgb(174, 121, 224);
}

li:first-child{
    color: cornflowerblue;
}