.container{
    height: 100vh;
    width: 100vw;
    padding-inline: 5px;
}
.nav{
    height: 100px;    
    background-color: #aa9e9e;
    padding: 10px;
    border-bottom:5px solid green ;
}

.logo{
    height: 50px;
    width: 50px;
    
}
.logo img{
    height: 50px;
    width: 50px;
}

.nav div{
    display: flex;
    justify-content: space-between
    
} 

.link{
    display: flex;
    /* justify-content: space-around; */
    gap: 18px;
   
    
    
}
a{
    text-decoration: none;
}

.nav p{
    color: aqua;
    font-size: 20px ;
}

.mid{
    height: 260px;
    
    display: inline-block;
    border:3px solid green;
}

.image img{
    height: 240px;
    width: 350px;
    border-radius: 10px;
    margin: 5px;
}
.image{
    width: 600px;
    display: inline-block;
}

.contant{
    
    display: inline-block;
    width: 820px;
}

button{
    background-color: #a9d8e8;
    border-radius: 20px;
}
.bottom{
    width: auto;
    height: auto;
    display: flex;

}
.left{
    width: 50%;
    display: inline-block;
    
    color: honeydew;
    background-color: #aa9e9e;
    
}
.right{
    width: 50%;
   /* flex-direction: row-reverse; */
    /* display: inline-block; */
    background-color: #434343c6;
    padding: 10px;
    color: honeydew;


}

.right img{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    margin: 10px;
    
}
.box{
    display: flex;
}

.box1{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.box2{
    display: flex;
    width: 50%;
    flex-direction: column;
    /* justify-content: left; */
    /* align-items: end; */
}
label{
    border: 2px solid black;
    padding: 3px;
    display: block;
    width: 120px;
}